<!DOCTYPE html>
<html>
<head>
  <title>Upodcast</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% elsif notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
<%= yield %>

</body>
</html>
